body {
  background-image: url("https://raw.githubusercontent.com/bhuz/bhuz.github.io/master/img/bg.png");
  background-size: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.logo img{
  height: 150px;
  padding-top: 2em;
}

.title {
  color: white;
  font-size: 400%;
}

footer h4 {
  color: slategrey;
}

footer {
  background-color: white;
}

.message {
  padding-top: 20%;
}

.brands {
  padding: 20px;
}
